<html>
  <head>
    <title>Mini Message Board</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <main>
      <div class="messages">
        <% if (messages) { %> <% messages.forEach((message) => { %>
        <div class="message">
          <div class="message-head">
            <span class="name"><%= message.name %></span>
            <span class="timestamp"><%= message.added %></span>
            <span class="details-link"
              >(<a href="/message/<%= message.id %>">Link</a>)</span
            >
          </div>
          <p class="message-text"><%= message.text %></p>
        </div>
        <% }) %> <% } %>
      </div>
      <%- include('partials/newMessageForm.ejs') %>
    </main>
  </body>
</html>
